.green-section {
  background-color: #6b8e23;
  padding: 50px 20px;
  color: #fff;
}
.card img {
  height: 200px;
  object-fit: cover;
}
.btn-orcamento {
  background-color: #a40000;
  color: #fff;
}
.navbar {
  background-color: #fff;
}
.form-control {
  margin-bottom: 15px;
}

.carousel-item img,
.carousel-item video {
  height: 450px;
  object-fit: cover;
}

.navbar-brand img {
  height: 200px;
}

